
*{
    margin: 0;
    padding: 0;
}
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 20px;
    position: sticky;
    top: 0;
}
.heading button{
    border: 1px solid white;
}
#cards{
    width: 1400px;
    margin: auto;
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    box-shadow: 2px 2px 10px grey;
    border-radius: 5px;

}
.card{
    display: flex;
    height: 350px;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: rgb(245, 225, 225);
    box-shadow: 2px 2px 10px grey;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
img{
    height: 200px;
    width:150px;
    border-radius: 10px;
}
button{
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}
#form{
    padding: 10px;
    height: 100vh;
    background-color: rgb(240, 206, 212);
    width: 200px;
}
.container{
    display: flex;
    flex-direction: row;
}
input, select{
    padding: 5px;
}
